<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="products">
    {% for p in products %}
        <div class="product-card">
            <img src="{{ p.image_product.url }}" alt="{{ p.name_product }}">
            <h3>{{ p.name_product }}</h3>
            <p>R$ {{ p.price }}</p>
            <p>{{ p.description }}</p>
        </div>
    {% endfor %}
</div>
</body>
</html>